.icon{ background:url("icon.png") top left no-repeat; }
._r2_c2{ width:128px; height:128px; background-position:-10px -10px; }
._r3_c10{ width:100px; height:100px; background-position:-10px -148px; }
._r3_c9{ width:100px; height:100px; background-position:-10px -258px; }
._r3_c11{ width:100px; height:100px; background-position:-10px -368px; }
._r8_c4{ width:34px; height:41px; background-position:-10px -478px; }
._r17_c2{ width:36px; height:36px; background-position:-54px -478px; }
._r15_c2{ width:36px; height:36px; background-position:-100px -478px; }
._r14_c2{ width:36px; height:36px; background-position:-10px -529px; }
._r13_c2{ width:36px; height:36px; background-position:-56px -529px; }
._r16_c2{ width:36px; height:36px; background-position:-102px -529px; }
._r12_c2{ width:36px; height:36px; background-position:-10px -575px; }
._r10_c4{ width:20px; height:24px; background-position:-56px -575px; }
._r6_c3{ width:24px; height:22px; background-position:-86px -575px; }

